<div class="col-md-4 col-sm-6 itembox">

    <div class="job-item" data-id="{{data_id}}}" data-name="{{name}}" onclick="on_click_job('{{data_id}}')">
        <img src="images/{{name}}.png" class="job-logo">
        <div class="job-detail">
            <h5>{{name}}</h5>
            <p>{{slogan}}</p>
        </div>
    </div>
</div>